h1, p
{
    text-align: center;
    
}
.lista:hover
{
    background-color: rgb(130, 238, 157);
}
.listaOrdenada:hover
{
    background-color: violet;

}
li:active
{
    font: times;
    
}
li
{
    list-style: none;
}
