.super-mario 
{
  background-color: blueviolet;
  width: 100px;
  height: 100px;
  padding: 50px;
  margin: 10px;
  display: grid;
  
 
}

.goomba 
{
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
  padding: 50px;
  margin: 10px;
  display: grid;

  

}

.baloon 
{
  width: 200px;
  height: 200px;
  padding: 50px;
  position: absolute;
  z-index: 1;
}

.speach 
{
  position: absolute;
  font-size: 20px;
  z-index: 1;
}

.bowser 
{
  background-color: darkgreen;
  width: 100px;
  height: 100px;
  padding: 50px;
  margin: 10px;
}