.super-mario 
{
  background-color: blueviolet;
  width: 100px;
  height: 100px;
  padding: 50px;
  margin: 10px;
  display: grid;
  
 
}

.goomba 
{
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
  padding: 50px;
  margin: 10px;
  display: grid;

  

}

.baloon 
{
  width: 200px;
  height: 150px;
  padding: 50px;
  position: absolute;
  z-index: 2;
  float: left;
  
}

.speach 
{
  margin-top: 100px;
  margin-left: 60px;
  position: absolute;
  font-size: 15px;
  z-index: 3;
  

 
}

.bowser 
{
  
  width: 200px;
  height: 300px;
  padding: 50px; 
  position: absolute; 
  z-index: 1;
  left: 200px;
  
  
}